openapi: 3.0.0
info:
  title: Skedulo Lens API
  version: 1.0.0
  description: "## Overview\n\nThe Skedulo Lens API reference documentation is designed to assist developers integrate Skedulo platform functionality into their applications. The Skedulo API provides full data access to standard and custom objects via GraphQL, including the ability to create and schedule jobs, manage allocation to resources and customers, and handle contact information.\n\nSkedulo Lens API also provides the capabilities to:\n\n  * Dispatch jobs to resources and manage notifications, via SMS or push.\n  * Call the optimization engine to schedule jobs efficiently to multiple resources.\n  * Access tracking and summary information about job travel and service times.\n  * Access current and historical information about resource locations.\n  * Get information about resource availability.\n\n### API calls must include the following HTTP headers:\n\n     * `content-type`: `application/json`\n     * `authorization`: `Bearer “$API_TOKEN”`\n\n### UTC time format\n\nAs a general rule, all Skedulo APIs that rely on timestamp inclusion in request bodies, or that return timestamps in their responses, use UTC time ([Coordinated Universal Time](https://en.wikipedia.org/wiki/Coordinated_Universal_Time)).\n\n## Regional URLs\n\nSkedulo tenant instances are deployed in one of the four geographical regions: US, UK, Canada and Australia. The Skedulo API is hosted on a different subdomain in each region:\n\n  * US - https://api.skedulo.com\n  * UK - https://api.uk.skedulo.com\n  * CA - https://api.ca.skedulo.com\n  * AU - https://api.au.skedulo.com\n\n  Data is accessible only via the API subdomain for the tenant’s geographical deployment region. Note that the deployment region might not be the same as the physical location of the customer’s business.\n\n  All API clients must query the main (US) API first to determine the correct subdomain for subsequent requests. They can do this by calling the\__/auth/config/team/web_ endpoint with the team name, for example:\n  https://api.skedulo.com/auth/config/team/web?name=my-team, where\_`my-team`\_is the team name in any region.\n\n  All subsequent API calls must be to the subdomain that is returned in\_the result.server.api field of the response.\n"
  contact:
    email: support@skedulo.com
servers:
  - url: 'https://api.skedulo.com'
  - url: 'https://api.uk.skedulo.com'
  - url: 'https://api.ca.skedulo.com'
  - url: 'https://api.au.skedulo.com'
security:
  - BearerAuth: []
tags:
  - name: Authentication API
    description: >
      Use the Authentication API to manage API permissions for your users,
      obtain delegation tokens, user metadata, and authentication configuration.
  - name: Access control
    description: >
      Retrieve information about Skedulo objects and field level permission and
      override or modify default role permissions.


      Remote access control for objects and roles uses two endpoints;
      `/custom/permissions` for retrieving object metadata, and
      `/standalone/permissions/role` for retrieving and modifying user role
      permissions.


      > ### Admin only

      > Only admin users can make create, edit, and delete permissions.


      > ### Managed package users

      > Skedulo for Salesforce users must have the `API enabled` and `View Setup
      and Configuration` system permissions enabled.
  - name: Notifications
    description: >
      The Notifications API dispatches jobs to resources and sends notifications
      via SMS or push.

      Notifications can also be sent to any phone number using the
      `/notfications/sms` endpoint.
  - name: Resource tracking
    description: >
      Resource tracking provides routing information and location updates via
      the mobile application for your resources in the field. Retrieve current
      and historical locations, and summarize travel and service times by job
      and resource.
  - name: Planr
    description: >-
      You can use the Skedulo Lens REST API to perform optimization operations
      using the Planr endpoints available from the
      `https://api.skedulo.com/planr` base URL.


      > ### Planr deprecation

      > Planr is being deprecated in favor of the new `/optimization` endpoint.

      > Planr continues to be supported at this stage, however we recommend that
      you use `/optimization` for optimization requests going forward.

       All requests require an API authentication token, which can be set as an environment variable. The examples in this chapter use `$API_TOKEN` to represent this variable. For information about how to set up an authentication token, see [Authentication](https://developer.skedulo.com/docs/introduction/authentication/).

       > ### Usage limitations
       >
       > Planr is limited to 200 jobs per request within the scheduling window.
  - name: GraphQL
    description: >
      GraphQL is a query language that allows selective access to objects in the
      data graph. Skedulo Lens supports GraphQL queries for all standard objects
      as well as any custom objects and fields you have defined.


      The Skedulo GraphQL HTTP server handles POST methods using the
      application/json content type and with a JSON-encoded body. Responses,
      including both data and errors, are also returned in JSON format. Make
      queries and mutations using GraphQL.


      For more information about using Skedulo GraphQL, see the [developer
      documentation](https://developer.skedulo.com/docs/graphql) or the [Skedulo
      GraphQL Schema
      Documentation](https://developer.skedulo.com/docs/skedulo_lens_api/graphql/).
  - name: Webhooks
    description: >
      Retrieve the GraphQL schema that is used for webhooks with type `graphql`.


      For more information about how to create webhooks, see the
      [Webhooks](https://developer.skedulo.com/docs/integration/webhooks)
      section in the Skedulo developer documentation.
  - name: Triggered actions
    description: >
      Triggered actions are made up of a trigger and an action. The trigger
      defines an event that causes an action to be performed. Only certain
      actions are valid for a trigger.


      Triggered actions are defined per tenant via the `/triggered-actions`
      endpoints. They can be inserted, updated, and deleted. Updating a
      triggered action cannot change the type of the trigger or action


      The following event types are currently supported:

        * `object_modified` triggers fire when an object that can have a GraphQL subscription and is tracked for changes is inserted, updated or deleted. To configure the trigger, you need to provide the trigger type, the target schema/object name, and an EQL filter.

          The filter specifies when the action should be performed and can refer to the operation name and the current and previous data objects.

          ```json
            "trigger" : {
              "type": "object_modified",
              "schemaName": "Jobs",
              "filter": "Operation == 'INSERT' OR Current.JobStatus != Previous.JobStatus"
            }
          ```

      * `event` triggers fire when pre-defined events occur.

        * `recurring_schedule`: Indicates that a recurring schedule has been updated.

          * `jobIds`: The list of jobs updated as part of a single action.
          * `jobFields`: Represents the set of values changed across jobs.
  - name: Availability
    description: |
      Query and manage resource availability for a given time period.
  - name: Onboarding
    description: >-
      Provision users from a CSV or JSON file, or directly by sending a JSON
      request body. This adds the new users to Auth0 and sends an onboarding
      email to their provided email address.
  - name: Configurations
    description: |
      Configure feature flags, UFB settings, user preferences, and templates.
  - name: Custom fields
    description: >
      Create and delete custom fields in Skedulo.


      * Use the `/custom/standalone` endpoints to create or delete custom schema
      objects and fields in Skedulo.

      * Use the `/custom/vocabulary` endpoints to modify picklist values.


      > ### Important

      > The `/custom` endpoint is only for use with Skedulo.

      >

      > Skedulo for Salesforce users must create custom fields in Salesforce.
  - name: Files
    description: |
      Manage attachments and avatars.
  - name: Geoservices
    description: >
      Geoservices provide a way to access all the gor location APIs that are
      external to Skedulo. It handles all interactions between with the mapping
      tools and helps in calculation of various map-based operations.
  - name: iCal token
    description: >
      iCal exposes the schedule via the
      [iCalendar](https://en.wikipedia.org/wiki/ICalendar) protocol for
      integration into third-party calendar products.
  - name: Schedule management
    description: >
      Use the scheduling API to copy and dispatch multiple jobs, shifts, or
      activities, or to create and apply schedule templates.
  - name: Recurring schedules
    description: |
      Set up and manage recurring schedules.
  - name: Virtual meetings
    description: >
      Create virtual meetings for jobs that need to be carried out remotely.


      > ### Important

      > Your organization must have virtual meeting integration set up to use
      the `/virtualmeeting` endpoint.

      > Administrators can use the Skedulo Web Application to install virtual
      meetings and authenticate a virtual meeting provider for your
      organization.

      >

      > For more information about virtual meetings, see the [Virtual
      Meetings](https://support.skedulo.com/hc/en-us/articles/360001499716-Virtual-Meetings)
      support documentation.
  - name: Optimization
    description: >
      Use the Optimization API to run adhoc or scheduled optimizations and

      query the results.  The Optimization API can handle larger data sets than

      the Planr API and can devote more time to finding the most optimal

      schedule.


      > ### Optimization request limits

      > Optimization has a hard limit of 2000 jobs and 200 resources per
      request. Smaller requests may yield better results, and we recommend
      reducing the number of items in a request where possible.
components:
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        Skedulo APIs can be accessed by an access token. This is either a
        perpetual or time-limited token which can be presented as proof of
        authentication. Access tokens can be obtained via the admin settings of
        the Skedulo web app.

        Create long-lived access tokens via [Admin Setting: Developer
        Tools](https://support.skedulo.com/hc/en-us/articles/360001270035-Admin-Setting-Developer-Tools).
    BearerAuth:
      type: http
      scheme: bearer
      description: >-
        The access token obtained above is a Base64 encoded [JavaScript Web
        Token (JWT)](https://jwt.io/).  You use this by placing it into the
        `Authorization` header of the REST API request using the `Bearer`
        method.

        For example:

        ```

        curl -X GET https://api.skedulo.com/auth/whoami -H "Authorization:
        Bearer
        eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik9ESkNORFE0TkRJMVJUTkJNekE1TlRFNVJqVTFORGxDUXpjME9EZEJOVEF3T1RjNE1rVkZSUSJ9.eyJodHRwczovL2FwaS5za2VkdWxvLmNvbS92ZW5kb...-dpYZm_8YuaUYTnMrS4Fs3fQTDxM0oEkt9CWWJxPQTOv3l3pjp3sgDeuRvzYcaFZuoVTVLPYNidL9Pc5gPMrsXpTxOJL3nMF-2GmJJ5YHAXgG2cQc9MmL74u7IsGbQ-qg"

        ```
paths:
  /auth/whoami:
    get:
      security:
        - Authorization: []
      summary: Whoami
      description: Return the current user's authentication information
      operationId: whoami
      parameters:
        - name: access_token
          in: query
          description: >-
            Access token. This is an alternative to passing the Authorization:
            `Bearer` header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The current users authentication information was returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - username
                      - userId
                      - tenantId
                      - roles
                      - vendorInfo
                    properties:
                      username:
                        type: string
                      userId:
                        type: string
                      tenantId:
                        type: string
                      roles:
                        type: array
                        items:
                          type: string
                          enum:
                            - administrator
                            - scheduler
                            - resource
                      resourceId:
                        type: string
                      vendorInfo:
                        oneOf:
                          - type: object
                            required:
                              - vendor
                              - env
                            properties:
                              vendor:
                                type: string
                                example: salesforce
                              env:
                                type: string
                                enum:
                                  - salesforce
                                  - salesforce-sandbox
                              communityId:
                                type: string
                                description: >-
                                  community ID for this user if this user
                                  belongs to one
                              vendorUserId:
                                type: string
                                description: Salesforce user ID of this user
                          - type: object
                            required:
                              - vendor
                            properties:
                              vendor:
                                type: string
                                example: skedulo
                              vendorUserId:
                                type: string
                                description: Skedulo user ID of this user
                      permissions:
                        description: >-
                          The permissions for the user. Only present if the
                          useNewPermissions feature flag is enabled.
                        type: array
                        items:
                          description: Permission keys assigned to the user
                          type: string
      tags:
        - Authentication API
  /auth/access_rules:
    get:
      security:
        - Authorization: []
      summary: Data access rules for the current user
      description: >-
        Return the current user's data access rules. Requires the
        useRecordAccessPolicies feature flag.
      operationId: access_rules
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      required:
                        - objectType
                        - filter
                      properties:
                        objectType:
                          type: string
                        filter:
                          description: >-
                            EQL filter that is applied when accessing records of
                            the object type
                          type: string
      tags:
        - Authentication API
  /auth/api_user:
    post:
      security:
        - Authorization: []
      summary: Set a user as the API User for this tenant
      description: >-
        The user assigning the API user must be an administrator.


        >NOTE:

        >If you make any modifications to the user assigned as the API User, you
        need to set the user as the API User again to ensure the data stored for
        the user is up to date. Otherwise, some claims in the access token will
        be outdated.
      operationId: setApiUser
      responses:
        '200':
          description: The user was successfully setup as the API User.
          content:
            '*/*':
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - authEndpoint
                      - authBody
                    properties:
                      authEndpoint:
                        type: string
                        description: >-
                          The endpoint to obtain the Skedulo API access token
                          using the body given in authBody. The authorization
                          flow is called client credentials flow.
                      authBody:
                        type: object
                        description: >-
                          The content of this object should be sent verbatim to
                          the authEndpoint (POST) to obtain a Skedulo API access
                          token.
                        required:
                          - grant_type
                          - client_id
                          - client_secret
                          - audience
                        properties:
                          grant_type:
                            type: string
                            example: client_credentials
                          client_id:
                            type: string
                          client_secret:
                            type: string
                          audience:
                            type: string
        '403':
          description: If the user is not an administrator
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  description: Skedulo User ID of the user to be setup as the API User
        required: true
      tags:
        - Authentication API
    delete:
      security:
        - Authorization: []
      summary: Remove the API User for this tenant
      description: >-
        Removes the API User for this tenant if they have one. If the tenant is
        on Standalone this will reset their API user to the system user. The
        caller must be an administrator.
      operationId: removeApiUser
      responses:
        '200':
          description: successful result
        '403':
          description: If the user is not an administrator
      tags:
        - Authentication API
  /auth/api_user/client_credentials:
    get:
      security:
        - Authorization: []
      summary: Get client credentials information for the API user
      description: >-
        The user requesting this information must be an administrator for their
        organization.
      operationId: getApiUserClientCredentials
      responses:
        '200':
          description: Client credentials information of the API user
          content:
            '*/*':
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - authEndpoint
                      - authBody
                    properties:
                      authEndpoint:
                        type: string
                        description: >-
                          The endpoint to obtain the Skedulo API access token
                          using the body given in authBody. The authorization
                          flow is called client credentials flow.
                      authBody:
                        type: object
                        description: >-
                          The content of this object should be sent verbatim to
                          the authEndpoint (POST) to obtain a Skedulo API access
                          token.
                        required:
                          - grant_type
                          - client_id
                          - client_secret
                          - audience
                        properties:
                          grant_type:
                            type: string
                            example: client_credentials
                          client_id:
                            type: string
                          client_secret:
                            type: string
                          audience:
                            type: string
        '403':
          description: User is not an administrator
        '404':
          description: API user is not setup
      tags:
        - Authentication API
  /auth/api_user/candidates:
    get:
      security:
        - Authorization: []
      summary: List API user candidates
      description: >-
        List candidates that can be set as the API user and the current API
        user. Only users with role `administrator` are returned.
      operationId: listApiUserCandidates
      responses:
        '200':
          description: List of candidates that can be assigned as the API User
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - candidates
                    properties:
                      currentApiUserId:
                        type: string
                        description: User ID of the current API User
                      moreCandidatesExist:
                        type: boolean
                        description: >-
                          True if only a subset of all available candidates is
                          being returned
                      candidates:
                        type: array
                        items:
                          type: object
                          required:
                            - userId
                            - vendorUserId
                            - lastName
                            - username
                            - roles
                            - email
                            - emailVerified
                          properties:
                            userId:
                              type: string
                            vendorUserId:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            username:
                              type: string
                            resourceId:
                              type: string
                            roles:
                              type: array
                              items:
                                type: string
                                enum:
                                  - administrator
                                  - scheduler
                                  - resource
                            email:
                              type: string
                              format: email
                            emailVerified:
                              type: boolean
      tags:
        - Authentication API
  /auth/api_user/verify:
    get:
      security:
        - Authorization: []
      summary: Check if the API user is verified
      description: ''
      operationId: verifyApiUser
      responses:
        '200':
          description: >-
            If the result contains success equal to true the API user is
            verified, otherwise it is not.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - success
                    properties:
                      success:
                        type: boolean
                      code:
                        type: string
                      message:
                        type: boolean
                      extraFields:
                        type: object
                        description: Additional information about the error
                        additionalProperties: true
      tags:
        - Authentication API
  /auth/metadata/user:
    get:
      security:
        - Authorization: []
      summary: Current user metadata
      description: Fetch metadata about the current user.
      operationId: metadataUser
      responses:
        '200':
          description: The current users metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: object
                    required:
                      - id
                      - email
                      - username
                      - fullName
                      - lastName
                      - team
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      username:
                        type: string
                      fullName:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      team:
                        type: object
                        required:
                          - id
                          - name
                          - description
                          - vendor
                          - orgId
                        properties:
                          id:
                            type: string
                          name:
                            description: A valid DNS sub domain
                            type: string
                          description:
                            description: A human friendly name
                            type: string
                          vendor:
                            description: The vendor associated with this organization
                            type: string
                            enum:
                              - salesforce
                              - servicenow
                              - skedulo
                          orgId:
                            description: The vendor specific organization ID
                            type: string
                          customer:
                            description: The customer name.
                            type: string
                      resource:
                        type: object
                        required:
                          - id
                          - timezone
                        properties:
                          id:
                            type: string
                          category:
                            type: string
                          employmentType:
                            type: string
                          address:
                            type: string
                          latitude:
                            type: number
                          longitude:
                            type: number
                          mobilePhone:
                            type: string
                          timezone:
                            type: string
        '412':
          description: The user belongs to a tenant that is not associated with a team
      tags:
        - Authentication API
  /auth/link_resource:
    post:
      security:
        - Authorization: []
      summary: Create link between resource and user
      description: Links (assigns) a resource to a user by their respective Ids.
      operationId: linkResource
      responses:
        '200':
          description: User and resource were successfully linked.
        '403':
          description: The user does not have permission to perform this action.
        '404':
          description: No user found for the given id.
          content:
            '*/*':
              schema:
                type: object
                example:
                  errorType: not_found
                  message: Could not find user with vendor user id 1234
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - resourceId
              properties:
                userId:
                  type: string
                  description: The user id of the user to be linked to given resource
                resourceId:
                  type: string
                  description: The resource id of the resource to be linked to given user
        required: true
      tags:
        - Authentication API
    delete:
      security:
        - Authorization: []
      summary: Remove link between resource and user
      description: Unlinked a resource to a user by their respective Ids.
      operationId: unlinkResource
      responses:
        '200':
          description: successful result
        '403':
          description: The user does not have permission to perform this action.
        '404':
          description: No user found for the given id.
          content:
            '*/*':
              schema:
                type: object
                example:
                  errorType: not_found
                  message: Could not find user with vendor user id 1234
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - resource_id
              properties:
                user_id:
                  type: string
                  description: The user id of the user to be linked to given resource
                resource_id:
                  type: string
                  description: The resource id of the resource to be linked to given user
        required: true
      tags:
        - Authentication API
  /auth/tokens:
    get:
      summary: List all API tokens
      description: List all the available and revoked API tokens.
      operationId: fetchAll
      responses:
        '200':
          description: Return information about all the available and revoked API tokens.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      required:
                        - tenantId
                        - jti
                        - claims
                        - createdDate
                        - createdBy
                      properties:
                        tenantId:
                          type: string
                          example: sk_e0bb1f8aa1924a00b77a9c1f43b09e41
                        jti:
                          type: string
                          example: BM10SHoI4Z4nmhtElInXuJWLkeeqqyzy
                        claims:
                          description: Selection of the user claims from the JWT
                          type: object
                          additionalProperties: true
                        createdDate:
                          type: string
                          format: date-time
                        createdBy:
                          type: string
                        revokedDate:
                          type: string
                          format: date-time
                        revokedBy:
                          type: string
                        lastUpdated:
                          type: string
                          format: date-time
      tags:
        - Authentication API
  '/auth/token/{jti}':
    get:
      summary: Get API token using JTI
      description: Get an API token by specifying its JTI.
      operationId: fetchAllApiTokens
      parameters:
        - in: path
          name: jti
          description: The JWT Identifier for the API token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return information about the requested API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - tenantId
                      - jti
                      - claims
                      - createdDate
                      - createdBy
                    properties:
                      tenantId:
                        type: string
                        example: sk_e0bb1f8aa1924a00b77a9c1f43b09e41
                      jti:
                        type: string
                        example: BM10SHoI4Z4nmhtElInXuJWLkeeqqyzy
                      claims:
                        description: Selection of the user claims from the JWT
                        type: object
                        additionalProperties: true
                      createdDate:
                        type: string
                        format: date-time
                      createdBy:
                        type: string
                      revokedDate:
                        type: string
                        format: date-time
                      revokedBy:
                        type: string
                      lastUpdated:
                        type: string
                        format: date-time
      tags:
        - Authentication API
  /auth/token:
    post:
      summary: Create API token
      description: >-
        Create an API token with an optional expiry. This token can be used to
        authenticate as the same user that created it (with the same claims) for
        as long as the token is valid. Tokens may be revoked.
      operationId: createApiToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiry:
                  description: Optional expiry. If omitted the token is valid forever.
                  type: string
                  format: date-time
      responses:
        '200':
          description: Return the API token
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - token
                      - jti
                    properties:
                      token:
                        type: string
                        format: base64
                        example: >-
                          5l8l/TyAG+282cBi0JoAp8Gj2WtnXjhxkHKu5J+ytWJcp5kHG9I7k...A==
                      jti:
                        type: string
                        example: x62ThdBIqHVmILpLKdHbZctTaEzySGGc
      tags:
        - Authentication API
  /auth/token/revoke:
    post:
      summary: Revoke API token
      description: >-
        Revoke an API token so it can no longer be used. The token will be
        returned but marked as revoked. It cannot be used to authenticate once
        revoked.
      operationId: revokeToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jti:
                  description: JWT Identfier of token to revoke
                  type: string
      responses:
        '200':
          description: The token was revoked
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
      tags:
        - Authentication API
  /custom/permissions:
    get:
      security:
        - Authorization: []
      summary: Return permission metadata for the given object names
      description: ''
      operationId: fetchPermissions
      parameters:
        - name: names
          in: path
          description: >-
            A non-empty comma separated string of object names to fetch
            permission metadata for
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    description: Object permission metadata keyed by the object name
                    additionalProperties:
                      type: object
                      required:
                        - read
                        - create
                        - update
                        - delete
                        - fields
                      properties:
                        read:
                          type: boolean
                          description: >-
                            True if the current user has permission to read from
                            this object
                        create:
                          type: boolean
                          description: >-
                            True if the current user has permission to create a
                            record in this object
                        update:
                          type: boolean
                          description: >-
                            True if the current user has permission to update a
                            record in this object
                        delete:
                          type: boolean
                          description: >-
                            True if the current user has permission to delete a
                            record in this object
                        fields:
                          description: Fields of the object keyed by their name
                          additionalProperties:
                            type: object
                            required:
                              - read
                              - create
                              - update
                            properties:
                              read:
                                type: boolean
                                description: >-
                                  True if the current user has permission to
                                  read from this field
                              create:
                                type: boolean
                                description: >-
                                  True if the current user has permission to
                                  insert a value into this field
                              update:
                                type: boolean
                                description: >-
                                  True if the current user has permission to
                                  update a value in this field
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      tags:
        - Access control
  /standalone/permissions/role:
    get:
      summary: Fetch role permissions
      description: Fetch the default permissions and custom permissions for each role
      operationId: rolePermissions
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    description: The object key is the name of the role
                    additionalProperties:
                      type: object
                      properties:
                        defaults:
                          nullable: true
                          oneOf:
                            - type: object
                              required:
                                - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - all
                            - type: object
                              required:
                                - type
                                - objects
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - custom
                                objects:
                                  type: object
                                  description: key is the name of the object
                                  additionalProperties:
                                    type: object
                                    required:
                                      - permissions
                                      - fields
                                    properties:
                                      permissions:
                                        type: object
                                        required:
                                          - read
                                          - create
                                          - update
                                          - delete
                                        properties:
                                          read:
                                            type: boolean
                                          create:
                                            type: boolean
                                          update:
                                            type: boolean
                                          delete:
                                            type: boolean
                                      fields:
                                        type: object
                                        description: key is the name of the field
                                        additionalProperties:
                                          type: object
                                          required:
                                            - read
                                            - create
                                            - update
                                          properties:
                                            read:
                                              type: boolean
                                            create:
                                              type: boolean
                                            update:
                                              type: boolean
                          discriminator:
                            propertyName: type
                            mapping:
                              all: '#/components/schemas/PermissionsAll'
                              custom: '#/components/schemas/PermissionsCustom'
                        overrides:
                          nullable: true
                          oneOf:
                            - type: object
                              required:
                                - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - all
                            - type: object
                              required:
                                - type
                                - objects
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - custom
                                objects:
                                  type: object
                                  description: key is the name of the object
                                  additionalProperties:
                                    type: object
                                    required:
                                      - permissions
                                      - fields
                                    properties:
                                      permissions:
                                        type: object
                                        required:
                                          - read
                                          - create
                                          - update
                                          - delete
                                        properties:
                                          read:
                                            type: boolean
                                          create:
                                            type: boolean
                                          update:
                                            type: boolean
                                          delete:
                                            type: boolean
                                      fields:
                                        type: object
                                        description: key is the name of the field
                                        additionalProperties:
                                          type: object
                                          required:
                                            - read
                                            - create
                                            - update
                                          properties:
                                            read:
                                              type: boolean
                                            create:
                                              type: boolean
                                            update:
                                              type: boolean
                          discriminator:
                            propertyName: type
                            mapping:
                              all: '#/components/schemas/PermissionsAll'
                              custom: '#/components/schemas/PermissionsCustom'
        '403':
          description: If the user is not an administrator
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
        default:
          description: Error
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      tags:
        - Access control
  '/standalone/permissions/role/{role}':
    parameters:
      - name: role
        in: path
        description: Name of the role
        example: administrator | scheduler | resource
        required: true
        schema:
          type: string
    post:
      summary: Override default permissions for a role
      description: To remove a single object or field override pass `null` as the value.
      operationId: rolePermissionsSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - objects
              properties:
                objects:
                  type: object
                  description: key is the name of the object
                  additionalProperties:
                    nullable: true
                    type: object
                    required:
                      - permissions
                      - fields
                    properties:
                      permissions:
                        type: object
                        required:
                          - read
                          - create
                          - update
                          - delete
                        properties:
                          read:
                            type: boolean
                          create:
                            type: boolean
                          update:
                            type: boolean
                          delete:
                            type: boolean
                      fields:
                        type: object
                        description: key is the name of the field
                        additionalProperties:
                          nullable: true
                          type: object
                          required:
                            - read
                            - create
                            - update
                          properties:
                            read:
                              type: boolean
                            create:
                              type: boolean
                            update:
                              type: boolean
      responses:
        '200':
          description: successful operation
        '403':
          description: If the user is not an administrator
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
        default:
          description: Error
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      tags:
        - Access control
    delete:
      summary: Remove any permission overrides for a role
      description: ''
      operationId: rolePermissionsDelete
      responses:
        '200':
          description: successful operation
        '403':
          description: If the user is not an administrator
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
        default:
          description: Error
          content:
            '*/*':
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      tags:
        - Access control
  /notifications/dispatch:
    post:
      security:
        - Authorization: []
      summary: Dispatch resources
      tags:
        - Notifications
      description: |
        This endpoint will dispatch the resources and notify them.
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - jobId
                      - results
                    properties:
                      jobId:
                        type: string
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                            protocol:
                              type: string
                            error:
                              description: null if the notification was sent successfully
                              type: object
                              required:
                                - errorType
                                - message
                              properties:
                                errorType:
                                  type: string
                                message:
                                  type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jobId
              properties:
                jobId:
                  type: string
                resourceId:
                  type: string
                resourceIds:
                  type: array
                  items:
                    type: string
        required: true
  /notifications/notify:
    post:
      security:
        - Authorization: []
      summary: Notify resources
      tags:
        - Notifications
      description: |
        This endpoint ONLY notifies.
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - jobId
                      - results
                    properties:
                      jobId:
                        type: string
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                            protocol:
                              type: string
                            error:
                              description: null if the notification was sent successfully
                              type: object
                              required:
                                - errorType
                                - message
                              properties:
                                errorType:
                                  type: string
                                message:
                                  type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jobId
              properties:
                jobId:
                  type: string
                resourceId:
                  type: string
                resourceIds:
                  type: array
                  items:
                    type: string
        required: true
  /notifications/notify_cancel:
    post:
      security:
        - Authorization: []
      summary: Notify resources of job cancellations
      tags:
        - Notifications
      description: >
        This endpoint notifies of cancellations of a job. Does not cause any
        side affects.
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - jobId
                      - results
                    properties:
                      jobId:
                        type: string
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                            protocol:
                              type: string
                            error:
                              description: null if the notification was sent successfully
                              type: object
                              required:
                                - errorType
                                - message
                              properties:
                                errorType:
                                  type: string
                                message:
                                  type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jobId
              properties:
                jobId:
                  type: string
        required: true
  /notifications/oneoff:
    post:
      security:
        - Authorization: []
      summary: Send a one off message to a resource
      tags:
        - Notifications
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                required:
                  - protocol
                properties:
                  protocol:
                    description: protocol the messsage was sent with
                    type: string
                    enum:
                      - push
                      - sms
        '400':
          description: Message too long or invalid request body
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - resourceId
                - message
              properties:
                resourceId:
                  type: string
                message:
                  type: string
                  description: >-
                    Message to send to the resource. Message length is limited
                    to 500 characters
                protocol:
                  type: string
                  description: >-
                    The notification method to use to send the message. If not
                    provided, the resource's default notification method
                  enum:
                    - push
                    - sms
        required: true
  /notifications/sms:
    get:
      security:
        - Authorization: []
      summary: Fetch the latest 250 SMS messages sent by the current tenant
      description: Messages are sorted by when they were created in descending order.
      tags:
        - Notifications
      parameters:
        - name: cursor
          description: Returns messages sent after the message with this cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      required:
                        - key
                        - to
                        - status
                        - created
                        - updated
                        - cursor
                      properties:
                        key:
                          type: object
                          required:
                            - vendor
                            - id
                          properties:
                            vendor:
                              type: string
                            id:
                              type: string
                        to:
                          type: string
                          description: E164 phone number that the SMS was sent to
                        status:
                          type: string
                          description: >-
                            Should be one of the following strings: accepted,
                            delivered, failed, queued, sending, sent,
                            undelivered
                        resourceId:
                          type: string
                          nullable: true
                        jobId:
                          type: string
                          nullable: true
                        created:
                          type: string
                          format: date-time
                          description: The time when the SMS was created
                        updated:
                          type: string
                          format: date-time
                          description: The time when the SMS last had its status updated
                        cursor:
                          type: string
                          description: >-
                            A string to pass as the cursor GET parameter to
                            fetch records that occur after this one
        '403':
          description: If the user is not an administrator
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    post:
      security:
        - Authorization: []
      summary: Send SMS to any phone number
      description: >-
        Send an SMS message to any phone number, such as a customer.


        For example 'Thanks for confirming your booking'. Replies from the
        recipient will not be tracked back to a job.
      tags:
        - Notifications
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: 'Phone number or country code was invalid, or message was too long'
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
                - countryCode
                - message
              properties:
                phoneNumber:
                  type: string
                  description: The phone number of the recipient.
                countryCode:
                  type: string
                  description: The two character country code of the phone number.
                message:
                  type: string
                  description: >-
                    Message to send to the resource. Message length is limited
                    to 500 characters.
                expectsReply:
                  type: boolean
                  default: false
                  description: >-
                    Set to true if a reply is expected. The reply should be
                    handled by an external process such as a webhook. If this
                    flag is false or absent and the recipient sends a reply to
                    the message, an error message will be sent back to them.
        required: true
  /notifications/sms/confirmation_request:
    post:
      security:
        - Authorization: []
      summary: Request confirmation by SMS
      description: >-
        Send an SMS message to any phone number, such as a customer, to request
        confirmation that a job should proceed. This will set the job's
        confirmation status to `Pending`. Upon receiving a Y/YES or N/NO SMS
        message from the recipient, the job's confirmation status will be
        updated accordingly.


        Note that while a job's confirmation status is `Pending`, SMS
        confirmation requests cannot be sent to the recipient for that job.


        Note that a job's confirmation status is for use by custom workflows. It
        does not affect the normal workflow of the job.
      tags:
        - Notifications
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: >-
            Phone number or country code was invalid, message was too long,
            phone number already has a request outstanding, job has been
            completed or cancelled.
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
                - countryCode
                - jobId
                - message
              properties:
                phoneNumber:
                  type: string
                  description: The phone number of the recipient
                countryCode:
                  type: string
                  description: The two character country code of the phone number
                jobId:
                  type: string
                  description: The UID of the job that this message relates to
                message:
                  type: string
                  description: >-
                    Message to send to the resource. Message length is limited
                    to 500 characters
        required: true
  '/notifications/confirm/job_id/{job_id}/resource_id/{resource_id}':
    post:
      security:
        - Authorization: []
      summary: Confirm allocations
      tags:
        - Notifications
      description: >-
        Confirm an allocation given a job/resource. Stores the time the response
        was sent as either the given timestamp or the current time if a time is
        not provided.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    put:
      security:
        - Authorization: []
      deprecated: true
      summary: Confirm allocations
      tags:
        - Notifications
      description: Confirm an allocation given a job/resource
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/confirm/allocation_id/{allocation_id}':
    post:
      security:
        - Authorization: []
      summary: Confirm allocations by allocation ID
      tags:
        - Notifications
      description: >-
        Confirm an allocation given an allocation ID. Stores the time the
        response was sent as either the given timestamp or the current time if a
        time is not provided.
      parameters:
        - name: allocation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    put:
      security:
        - Authorization: []
      deprecated: true
      summary: Confirm allocations by allocation ID
      tags:
        - Notifications
      description: Confirm an allocation given an allocation
      parameters:
        - name: allocation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/decline/job_id/{job_id}/resource_id/{resource_id}':
    post:
      security:
        - Authorization: []
      summary: Decline allocations by job or resource ID
      tags:
        - Notifications
      description: >-
        Decline an allocation given a job/resource. Stores the time the response
        was sent as either the given timestamp or the current time if a time is
        not provided.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    put:
      security:
        - Authorization: []
      deprecated: true
      summary: Decline allocations by job or resource ID
      tags:
        - Notifications
      description: Decline a allocation given a job/resource
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/decline/allocation_id/{allocation_id}':
    post:
      security:
        - Authorization: []
      summary: Decline an allocation
      tags:
        - Notifications
      description: >-
        Decline an allocation. Stores the time the response was sent as either
        the given timestamp or the current time if a time is not provided.
      parameters:
        - name: allocation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    put:
      security:
        - Authorization: []
      deprecated: true
      summary: Decline an allocation
      tags:
        - Notifications
      description: Decline an allocation given an allocation
      parameters:
        - name: allocation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/job/resource/{resource_job_offer_id}/accept':
    post:
      security:
        - Authorization: []
      summary: Accept a job offer
      tags:
        - Notifications
      description: >-
        The offered job will be automatically allocated if the
        'autoAllocateJobOffers' org preference is enabled. Schedulers and Admins
        can accept any offer. Resources can only accept an offer that is
        assigned to them. Stores the time the response was sent as either the
        given timestamp or the current time if a time is not provided.
      parameters:
        - name: resource_job_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
                  status:
                    type: string
                    enum:
                      - Accepted
                      - Declined
                      - Allocated
        default:
          description: 'Error. '
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/job/resource/{resource_job_offer_id}/decline':
    post:
      security:
        - Authorization: []
      summary: Decline a job offer
      tags:
        - Notifications
      description: >-
        Closes the offer: after an offer is declined, it cannot be subsequently
        accepted. Schedulers and Admins can decline any offer. Resources can
        only decline an offer that is assigned to them. Stores the time the
        response was sent as either the given timestamp or the current time if a
        time is not provided.
      parameters:
        - name: resource_job_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
                  status:
                    type: string
                    enum:
                      - Accepted
                      - Declined
                      - Allocated
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/job/{job_offer_id}/notify':
    post:
      security:
        - Authorization: []
      summary: Notify associated resources about a job offer
      tags:
        - Notifications
      description: >-
        Send a notification to some or all resources who have an open offer on
        the given job. Resources who have declined will not be notified. Each
        resource's preferred notification method (push or SMS) will be used, if
        set. If job offer notifications are disabled then no notifications will
        be sent and an appropriate message will be returned in the response.
      parameters:
        - name: job_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          List of Resource Job Offer IDs to notify. This is optional: if not
          present, all resources will be notified.
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceOfferIds:
                  type: array
                  items:
                    type: string
        required: false
      responses:
        '200':
          description: The results of notifying each resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        resourceId:
                          type: string
                        protocol:
                          type: string
                        error:
                          description: null if the notification was sent successfully
                          type: object
                          required:
                            - errorType
                            - message
                          properties:
                            errorType:
                              type: string
                            message:
                              type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/shift/resource/{resource_shift_offer_id}/accept':
    post:
      security:
        - Authorization: []
      summary: Accept a shift offer
      tags:
        - Notifications
      description: >-
        The offered shift will be automatically allocated if the
        'autoAllocateShiftOffers' org preference is enabled. Schedulers and
        Admins can accept any offer. Resources can only accept an offer that is
        assigned to them. Stores the time the response was sent as either the
        given timestamp or the current time if a time is not provided.
      parameters:
        - name: resource_shift_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
                  status:
                    type: string
                    enum:
                      - Accepted
                      - Declined
                      - Allocated
        default:
          description: 'Error. '
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/shift/resource/{resource_shift_offer_id}/decline':
    post:
      security:
        - Authorization: []
      summary: Decline a shift offer
      tags:
        - Notifications
      description: >-
        Closes the offer: after an offer is declined, it cannot be subsequently
        accepted. Schedulers and Admins can decline any offer. Resources can
        only decline an offer that is assigned to them. Stores the time the
        response was sent as either the given timestamp or the current time if a
        time is not provided.
      parameters:
        - name: resource_shift_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
        required: true
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
                  status:
                    type: string
                    enum:
                      - Accepted
                      - Declined
                      - Allocated
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/offer/shift/{shift_offer_id}/notify':
    post:
      security:
        - Authorization: []
      summary: Notify associated resources about a shift offer
      tags:
        - Notifications
      description: >-
        Send a notification to some or all resources who have an open offer on
        the given shift. Resources who have declined will not be notified. Each
        resource's preferred notification method (push or SMS) will be used, if
        set.
      parameters:
        - name: shift_offer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          List of Resource Shift Offer IDs to notify. This is optional: if not
          present, all resources will be notified.
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceOfferIds:
                  type: array
                  items:
                    type: string
        required: false
      responses:
        '200':
          description: The results of notifying each resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        resourceId:
                          type: string
                        protocol:
                          type: string
                        error:
                          description: null if the notification was sent successfully
                          type: object
                          required:
                            - errorType
                            - message
                          properties:
                            errorType:
                              type: string
                            message:
                              type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  /notifications/device_id:
    post:
      security:
        - Authorization: []
      summary: Register a device ID
      tags:
        - Notifications
      description: Register a device ID.
      responses:
        '200':
          description: Result
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - platform
              properties:
                deviceId:
                  type: string
                platform:
                  type: string
                  enum:
                    - Skedulo-X-iOS
                    - Skedulo-X-Android
                features:
                  type: object
                  description: >-
                    This field is optional for backwards compatibility reasons
                    (all features defaults to false if not provided)
                  properties:
                    chat:
                      type: boolean
                      description: >-
                        Whether this device can has team chat functionality
                        (e.g. can understand push notifications for chat)
        required: true
    delete:
      security:
        - Authorization: []
      summary: Delete device ID
      tags:
        - Notifications
      description: Delete device ID.
      responses:
        '200':
          description: Result
        '404':
          description: Device info for this user cannot be found
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  /notifications/templates:
    get:
      deprecated: true
      security:
        - Authorization: []
      summary: Get all notification templates
      tags:
        - Notifications
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      required:
                        - msgType
                        - template
                        - createDate
                        - modifyDate
                      properties:
                        msgType:
                          type: string
                          enum:
                            - sms
                            - push
                        template:
                          type: string
                          description: >-
                            The template string used to generate the
                            notification template
                        createDate:
                          type: string
                          format: dateTime
                          description: The date / time the template was created
                        modifyDate:
                          type: string
                          format: dateTime
                          description: The date / time the template was last modified
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
  '/notifications/templates/{msgType}':
    parameters:
      - name: msgType
        in: path
        required: true
        schema:
          type: string
          enum:
            - sms
            - push
    get:
      deprecated: true
      security:
        - Authorization: []
      summary: Get the notification template for a message protocol
      tags:
        - Notifications
      responses:
        '200':
          description: Notification template found
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: object
                    required:
                      - msgType
                      - template
                      - createDate
                      - modifyDate
                    properties:
                      msgType:
                        type: string
                        enum:
                          - sms
                          - push
                      template:
                        type: string
                        description: >-
                          The template string used to generate the notification
                          template
                      createDate:
                        type: string
                        format: dateTime
                        description: The date / time the template was created
                      modifyDate:
                        type: string
                        format: dateTime
                        description: The date / time the template was last modified
        '404':
          description: Notification template for the given protocol cannot be found
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errorType
                  - message
                properties:
                  errorType:
                    type: string
                  message:
                    type: string
    post:
      deprecated: true
      security:
        - Authorization: []
      summary: Create or update notification template for a protocol
      tags:
        - Notifications
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - msgType
                      - template
                      - createDate
                      - modifyDate
                    properties:
                      msgType:
                        type: string
                        enum:
                          - sms
                          - push
                      template:
                        type: string
                        description: >-
                          The template string used to generate the notification
                          template
                      createDate:
                        type: string
[...]
